[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
.vs/
.vscode/
.utmp/
.claude/
ProfilerCaptures/
MemoryCaptures/
VulkanExternalTexture/Build/
Assets/Plugins/Android/.gradle/
Assets/Plugins/Android/.idea/
*.csproj
*.sln
*.user
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.unitypackage
TempAssembly.dll
Quest3Log/
Teleoperation_BurstDebugInformation_DoNotShip/
.plastic/
